@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap");

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #fcfcfc;
  color: #141414;
}

a {
  color: #5a6065;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
